<div id="detailsProduction">

    {{#if building.upgrade.cost.halls}}
        <p>Can upgrade to level {{upLevel}} by sacrificing {{upLevel}} Halls of Vrbansk.</p>
    {{/if}}

    <div id="buildingDetailsProduction" class="yui-gb">
        <div class="yui-u first">
            <ul>
                <li>Current Production</li>
                <li>
                    <span class="smallImg"><img src="{{assets.ui.small.food}}" title="Food" class="smallFood" /></span>
                    <span id="buildingDetailsFood" class="buildingDetailsNum">{{building.food_hour}}/hr</span>
                </li>
                <li>
                    <span class="smallImg"><img src="{{assets.ui.small.ore}}" title="Ore" class="smallOre" /></span>
                    <span id="buildingDetailsOre" class="buildingDetailsNum">{{building.ore_hour}}/hr</span>
                </li>
                <li>
                    <span class="smallImg"><img src="{{assets.ui.small.water}}" title="Water" class="smallWater" /></span>
                    <span id="buildingDetailsWater" class="buildingDetailsNum">{{building.water_hour}}/hr</span>
                </li>
                <li>
                    <span class="smallImg"><img src="{{assets.ui.small.energy}}" title="Energy" class="smallEnergy" /></span>
                    <span id="buildingDetailsEnergy" class="buildingDetailsNum">{{building.energy_hour}}/hr</span>
                </li>
                <li>
                    <span class="smallImg"><img src="{{assets.ui.small.waste}}" title="Waste" class="smallWaste" /></span>
                    <span id="buildingDetailsWaste" class="buildingDetailsNum">{{building.waste_hour}}/hr</span>
                </li>
                <li>
                    <span class="smallImg"><img src="{{assets.ui.small.happiness}}" title="Happiness" class="smallHappy" /></span>
                    <span id="buildingDetailsHappiness" class="buildingDetailsNum">{{building.happiness_hour}}/hr</span>
                </li>
                <li>
                    <button id="buildingDetailsDemolish" type="button">Demolish</button>
                </li>
            </ul>
        </div>

        <div class="yui-u">
            <ul id="buildingDetailsUpgradeProduction">
                {{#if upgrade}}
                    <li>Upgrade Production</li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.food}}" title="Food" class="smallFood" />
                        </span>
                        <span class="buildingDetailsNum {{#lowResource building.food_hour upgrade.production.food_hour planet.food_hour}}{{/lowResource}}">
                            {{upgrade.production.food_hour}}/hr
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.ore}}" title="Ore" class="smallOre" />
                        </span>
                        <span class="buildingDetailsNum {{#lowResource building.ore_hour upgrade.production.ore_hour planet.ore_hour}}{{/lowResource}}">
                            {{upgrade.production.ore_hour}}/hr
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.water}}" title="Water" class="smallWater" />
                        </span>
                        <span class="buildingDetailsNum {{#lowResource building.water_hour upgrade.production.water_hour planet.water_hour}}{{/lowResource}}">
                            {{upgrade.production.water_hour}}/hr
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.energy}}" title="Energy" class="smallEnergy" />
                        </span>
                        <span class="buildingDetailsNum {{#lowResource building.energy_hour upgrade.production.energy_hour planet.energy_hour}}{{/lowResource}}">
                            {{upgrade.production.energy_hour}}/hr
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.waste}}" title="Waste" class="smallWaste" />
                        </span>
                        <span class="buildingDetailsNum">
                            {{upgrade.production.waste_hour}}/hr
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.happiness}}" title="Happiness" class="smallHappy" />
                        </span>
                        <span class="buildingDetailsNum">
                            {{upgrade.production.happiness_hour}}/hr
                        </span>
                    </li>
                    {{#if upgrade.can}}
                        <li>
                            <button id="buildingDetailsUpgrade" type="button">
                                Upgrade to Level {{upLevel}}
                            </button>
                        </li>
                    {{else}}
                        <li class="alert">Unable to Upgrade:</li>
                        <li class="alert">{{upgrade.reason.[1]}}</li>
                    {{/if}}
                {{/if}}
            </ul>
        </div>

        <div class="yui-u">
            <ul id="buildingDetailsUpgradeCost">
                {{#if upgrade}}
                    <li>Upgrade Cost</li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.food}}" title="Food" class="smallFood" />
                        </span>
                        <span class="buildingDetailsNum {{#lowCost upgrade.cost.food planet.food_stored}}{{/lowCost}}">
                            {{upgrade.cost.food}}
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.ore}}" title="Ore" class="smallOre" />
                        </span>
                        <span class="buildingDetailsNum {{#lowCost upgrade.cost.ore planet.ore_stored}}{{/lowCost}}">
                            {{upgrade.cost.ore}}
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.water}}" title="Water" class="smallWater" />
                        </span>
                        <span class="buildingDetailsNum {{#lowCost upgrade.cost.water planet.water_stored}}{{/lowCost}}">
                            {{upgrade.cost.water}}
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.energy}}" title="Energy" class="smallEnergy" />
                        </span>
                        <span class="buildingDetailsNum {{#lowCost upgrade.cost.energy planet.energy_stored}}{{/lowCost}}">
                            {{upgrade.cost.energy}}
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.waste}}" title="Waste" class="smallWaste" />
                        </span>
                        <span class="buildingDetailsNum">
                            {{upgrade.cost.waste}}
                        </span>
                    </li>
                    <li>
                        <span class="smallImg">
                            <img src="{{assets.ui.small.time}}" title="Time" class="smallTime" />
                        </span>
                        <span class="buildingDetailsNum">
                            {{#formatTime upgrade.cost.time}}{{/formatTime}}
                        </span>
                    </li>
                {{/if}}

                {{! TODO: should we check if level is more than 1? }}
                {{#if downgrade.can}}
                    <li>
                        <button id="buildingDetailsDowngrade" type="button">
                            Downgrade to Level {{downLevel}}
                        </button>
                    </li>
                {{else}}
                    <li class="alert">Unable to Downgrade:</li>
                    <li class="alert">{{#removeLeadingErrorCode downgrade.reason}}{{/removeLeadingErrorCode}}</li>
                {{/if}}
            </ul>
        </div>
    </div>
</div>
