# Untouched .gitignore from the YUI2 source tree, idk what half this stuff is
# is for but I don't want unnecessary crap in the repo. :)

build_tmp/
build_rollup_tmp/
.DS_Store
.*.swp
.svn
CVS/
# Ignore all backup files
*~
# Ignore Emacs auto saved files
*#*#
